# Compiled output
/dist
/tmp
/out-tsc

# Dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Misc
/.angular
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
*.log

# System Files
.DS_Store
Thumbs.db

# Environment files
/env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build artifacts
*.tsbuildinfo
.tscache
*.map

# Tests
/coverage
/.nyc_output
/cypress/videos/
/cypress/screenshots/
